*{
    color: #ececec;
    font-family: Roboto,"Open Sans","Helvetica Neue","sans-serif";
}

body{
    margin: 0;
    padding: 0;
}
.app{
    background-color: #212121;
    display: flex;
     height: 100vh;
  overflow: hidden;
}

@media (max-width: 900px) {
  .app {
    position: relative;
  }
}
