.sidebar{
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 14px;
    background-color: transparent;
    border: solid 0.5px rgba(255,255,255,0.5);
    cursor: pointer;

}

.logo{
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}
button span{
    font-size: 20px;
}
button:hover {
    background-color: rgba(180,180,180,0.05);
}

.history{
    margin: 10px;
    padding: 10px;
    height: 100%
}

.history li{
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid10px solid transparent;
    position: relative  ;
}

.history li:hover{
    background-color: rgba(180,180,180,0.05);
}

.sign{
    padding: 10px;
    margin:40px;
    font-size: 14px;
    text-align: center;
    border-top:solid 0.25px rgba(255,255,255,0.5)

}

.fa-trash{
    opacity: 0;
    position: absolute;
    right: 0;
}
.history li:hover .fa-trash{
    opacity: 1;
    color: #fff;
}
.fa-trash:hover{
    color: #f87171 !important;
}
.highlighted{
    background-color: rgba(180,180,180,0.05);
    border-radius: 10px;
}
    
/* ===== MOBILE RESPONSIVE SIDEBAR ===== */

@media (max-width: 900px) {

  .sidebar{
    position: fixed;
      box-shadow: 4px 0 10px rgba(0,0,0,0.3);
    left: -100%;
    top: 0;
    z-index: 999;
    transition: all 0.3s ease;
    width: 270px;
  }

  .sidebar.active{
    left: 0;
  }

}
